{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>function</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <header>
        <div class="logo">logo</div>
        <nav>
            <ul>
                <li><a href="#">index</a></li>
                <li><a href="#">conect</a></li>
                <li><a href="http://">about </a></li>
                <li><a href="http://">login</a></li>
                <li><a href="http://">regster</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <div class="form">
            <form action="" method="post">
                {% csrf_token %}
                <label for="fonction">saisir la fonction </label>
                <input type="text" id="fonction" name="fonction" placeholder="5x**2 + 4x+3" value="{{polynomial}}">
            </form>
        </div>
        <div class="resulta">
            {% if image != 0 %}
            <img src="{{ image }}" alt="Polynomial Graph">
            {% else %}
            <p>No graph to display.</p>
            {% endif %}
    </main>
    </div>

    <script>
        const polynomialReg = /^([+-]?\d*\.?\d*[xX](\*\*[+-]?\d+)?|[+-]?\d+)([+-]\d*\.?\d*[xX](\*\*[+-]?\d+)?|[+-]\d+)*$/;
        const input = document.getElementById('fonction');
        input.addEventListener('input', function () {
            if (!polynomialReg.test(input.value)) {
                input.style.backgroundColor = "red"
            }
            else {
                input.style.backgroundColor = "green"
            }
        })

    </script>
    <script>
        $(document).ready(function () {
            $('#polynomialForm').on('submit', function (e) {
                e.preventDefault();

                const polynomial = $('#polynomial').val();
                $.ajax({
                    url: '/plot_polynomial/', // URL vers votre vue Django
                    method: 'POST',
                    data: {
                        polynomial: polynomial,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.image) {
                            $('#graphImage').attr('src', 'data:image/png;base64,' + response.image).show();
                        } else if (response.error) {
                            alert('Erreur : ' + response.error);
                        }
                    },
                    error: function () {
                        alert('Une erreur est survenue.');
                    }
                });
            })
        })
    </script>
</body>

</html>